@font-face {
    font-family: 'Karrik';
    src: url("./typefaces/TFF/Karrik-Regular.ttf");
    font-style: normal;
}


@font-face {
    font-family: 'Karrik';
    src: url("./typefaces/TFF/Karrik-Italic.ttf");
    font-style: italic;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karrik';
    transition: all 0.25s ease-out;
}

:root {
    --gray-background: #f2f0ee;
    --black: black;
    --white: white;
    --neon: #dafe36;
    --pink: #fc00d8;
    --green: #69dd12;
    --input: #e6e4e2;
    --blue: #223eff;
}

.app {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

body,
button {
    background-color: var(--gray-background);
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.input>input {
    cursor: pointer;
    background-color: var(--input);
    border: none;
    outline: none;
    height: 60px;
    border-radius: 30px;
    font-size: 40px;
    text-indent: 60px;
    max-width: 83%;

}

.input>input::placeholder {
    color: var(--gray-background);
}

.input>button {
    margin-right: 5px;
    border-radius: 50%;
    height: 50px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: none;
    color: var(--white);
    background-color: var(--black);
    cursor: pointer;
}

.input>button:hover {
    background-color: var(--green);
}

.input>button:active {
    transform: scale(0.95);
}



.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.item {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 30px;
    margin-top: 15px;
    width: 100%;
    max-width: 400px;
    height: fit-content;
    hyphens: auto;
    cursor: default;
}

.item:hover,
.item:hover>.title>.editor>input,
.item:hover>.title>.editor>button {
    background-color: var(--neon);
}

.number {
    background-color: var(--white);
    border-radius: 50%;
    height: 50px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:hover>.number {
    background-color: var(--black);
}

.number>h1 {
    color: var(--black);
    font-size: 30px;
}

.item:hover>.number>h1 {
    color: var(--white);
}


.title {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    cursor: text;
}

.title>h1,
.title>.editor>input {
    font-size: 40px;
}

.title>.editor>input {
    color: var(--blue);
    background-color: var(--gray-background);
    border: none;
    max-width: 200px;
    outline: none;
}

.editor {
    display: flex;
    justify-content: space-between;
}

.editor>button {
    border: none;
    width: 50px;
    cursor: pointer;
    color: var(--blue);
    font-size: 30px;
}

.editor>button:active {
    transform: scale(0.95);
}

.button {
    margin-left: auto;
    border-radius: 50%;
    height: 50px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: none;
    opacity: 0;
    color: var(--white);
    background-color: var(--black);
    cursor: pointer;
}

.item:hover>.button {
    opacity: 1;
}

.item>.button:hover {
    background-color: var(--pink);
}

.item>.button:active {
    transform: scale(0.95);
}